<header class="site-header container">

<nav class="header">
  <table role="navigation"> 
    <tbody>
      <tr>
        <td class="logo"> <a href="/"><h3><img src="/images/fiole.svg" alt="Digital Cuisine" id="nav-fiole"></h3></a></td>
        <td> <a class="scroll-to" href="http://digitalcuisine.fr/#our-beliefs">Our beliefs</a>  </td>
        <td> <a class="scroll-to" href="http://digitalcuisine.fr/#what-we-do">What we do</a>  </td>
        <td> <a class="scroll-to" href="http://digitalcuisine.fr/#team">Who we are</a>  </td>
        <td> <a class="scroll-to" href="http://digitalcuisine.fr/#contact-us">Contact</a>   </td>
        <td> <a class="scroll-to" href="http://digitalcuisine.fr/#blog">Blog</a>   </td>
      </tr>
    </tbody>
  </table> 
</nav>

</header>
